<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){ 
            var socket = io.connect();
            socket.on('connect', function (data) {
              console.log('BROWSER::WE ARE USING SOCKETS!');  
            })

            socket.on('update_javascript', function(data) {
              console.log(data.javascriptVotes)
              console.log('update_javascript');
              $("p#javascript").text(data.javascriptVotes);
            })

            socket.on('update_swift', function(data) {
              console.log(data.swiftVotes)
              console.log('update_swift');
              $("p#swift").text(data.swiftVotes);
            })
        })
    </script>
  </head>
  <body>
    <h1>JavaScript</h1>
    <p id="javascript">0</p>
    <h1>Swift</h1>
    <p id="swift">0</p>
  </body>
</html>

